language: node_js
node_js:
  - "14.15"
# dist: dist
sudo: required
branches:
  only:
  - main
before_script:
  - npm install -g @angular/cli
script:
- ng build --base-href https://github.com/SweetyPatel3013/Weather_Project_AML3304.git
