/* You can add global styles to this file, and also import other style files */
button {
    background-color: rgb(2, 17, 41);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}